[submodule "freelance_platform_user_microservice"]
	path = freelance_platform_user_microservice
	url = git@github.com:AbderrazakBouasker/freelance_platform_user_microservice.git
[submodule "freelance_platform_payment_microservice"]
	path = freelance_platform_payment_microservice
	url = git@github.com:AbderrazakBouasker/freelance_platform_payment_microservice.git
[submodule "freelance_platform_authentification_microservice"]
	path = freelance_platform_authentification_microservice
	url = git@github.com:AbderrazakBouasker/freelance_platform_authentification_microservice.git
[submodule "freelance_platform_notification_microservice"]
	path = freelance_platform_notification_microservice
	url = git@github.com:AbderrazakBouasker/freelance_platform_notification_microservice.git
[submodule "freelance_platform_messaging_microservice"]
	path = freelance_platform_messaging_microservice
	url = git@github.com:AbderrazakBouasker/freelance_platform_messaging_microservice.git
[submodule "freelance_platform_job_microservice"]
	path = freelance_platform_job_microservice
	url = git@github.com:AbderrazakBouasker/freelance_platform_job_microservice.git
